@model IEnumerable<Employee>

@{
    // Layout = "";

    ViewData["Title"] = "Employees";
}

<h2>@ViewData["Title"]</h2>
<hr />

<p>
    <a asp-action="Create">Create Employee</a>
</p>

<div class="row">
@*<div class="card-deck">*@
    @foreach (var employee in Model)
    {
        <div class="col-sm-4 text-center mb-4">
            <div class="card ">
                <div class="card-header">
                    @employee.Name
                </div>
                <div class="card-body text-left">
                    <div>
                        @Html.DisplayNameFor(m => m.Email) : <a href="mailto: @employee.Email">@employee.Email</a>
                    </div>
                    <div>
                        @Html.DisplayNameFor(m => m.Department) : @employee.Department
                    </div>
                </div>
                <div class="card-footer">
                    
                    <a asp-action="Edit"  asp-route-id="@employee.ID" class="btn btn-sm btn-success">Edit</a>
                    <a asp-action="Details" asp-route-id="@employee.ID" class="btn btn-sm btn-success">Details</a>
                    <a asp-action="Delete" asp-route-id="@employee.ID" class="btn btn-sm btn-warning">Delete</a>
                </div>
            </div>
        </div>
    }
</div>



